
.button {
    background-color:teal;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    min-width: 60px;
    min-height: 20px;
    margin: 10px 5px 10px 5px;
    padding: 5px;
    color: white;
}